<form
  hx-put="/article/{{.ID}}"
  hx-target="this"
  hx-swap="outerHTML"
>
  <article
    class="card w-sm bg-base-100 shadow-lg border-2 border-gray-500"
    id="article-{{.ID}}"
  >
    <div class="card-body p-4">
      <div class="flex gap-2">
        <div class="card-title grow">
          {{template "text-editor.html" (dict "Name" "title" "Placeholder" "Title" "Value" .Title)}}
        </div>
        <div class="flex flex-wrap gap-2">
          <button
            class="btn btn-outline btn-sm btn-error flex-grow"
            hx-get="/article/{{.ID}}"
            hx-confirm="Cancel editing article? All changes will be lost"
          >
            Cancel
          </button>
          <button
            class="btn btn-outline btn-sm btn-primary flex-grow"
          >
            Save
          </button>
        </div>
      </div>
      <div class="divider mx-[-18px] my-0 border-color-gray-400"></div>
      <div>
        {{template "text-editor.html" (dict "Name" "content" "Placeholder" "Input some text" "Value" .Content)}}
      </div>
    </div>
  </article>
</form>
          
