<article
  class="card w-sm bg-base-100 shadow-lg border-2 border-gray-500"
  id="article-{{.ID}}"
>
  <div class="card-body p-4">
    <div class="flex justify-between gap-2">
      <div>
        <h2 class="card-title self-left">{{.Title}}</h2>
      </div>
      <div class="flex flex-wrap gap-2">
        <button 
          hx-delete="/article/{{.ID}}"
          hx-swap="outerHTML"
          hx-target="#article-{{.ID}}"
          hx-confirm="Delete article?"
          class="btn btn-outline btn-sm btn-error flex-grow"
        >
          Delete
        </button>
        <button
          hx-get="/article/{{.ID}}/edit"
          hx-swap="outerHTML"
          hx-target="#article-{{.ID}}"
          class="btn btn-outline btn-sm btn-primary flex-grow"
        >
          Edit
        </button>
      </div>
    </div>
    <div class="divider mx-[-18px] my-0 border-color-gray-400"></div>
    <div>
      <p class="whitespace-pre-wrap">{{.Content}}</p>
      <div class="flex flex-col items-end text-sm pt-4">
        <p>Created at 
          <time class="local-time" datetime="{{.CreatedAt.Format "2006-01-02T15:04:05Z07:00"}}" ></time>
        </p>

        {{if not .UpdatedAt.IsZero}}
          <p>Last updated at 
            <time class="local-time" datetime="{{.UpdatedAt.Format "2006-01-02T15:04:05Z07:00" }}"></time>
          </p>
        {{end}}

      </div>
    </div>
  </div>
</article>
