<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
   
    <!-- adding htmx script from CDN -->
    <script
      src="https://unpkg.com/htmx.org@2.0.0"
      src="/lib/htmx.org@2.0.0"
      integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
      crossorigin="anonymous"
    ></script>
    <!-- script to display dates in local timezone -->
    <script defer>
      function formatLocalTimes() {
        document.querySelectorAll("time.local-time").forEach(el => {
          const dt = new Date(el.getAttribute("datetime"));
          const hours = dt.getHours().toString().padStart(2, '0');
          const minutes = dt.getMinutes().toString().padStart(2, '0');
         
          el.textContent = `${hours}:${minutes}`;
        });
      }
    
      document.addEventListener("DOMContentLoaded", () => {
        formatLocalTimes();
        document.body.addEventListener("htmx:afterSettle", formatLocalTimes);
      });
    </script>
</head>
<body>
    <header class="
      fixed top-0 left-0 right-0 z-10
      bg-base-300 
      flex justify-between h-20 p-4 mb-0"
    >
      <h1 class="self-center text-lg">News Service</h1>
      <button 
        class="btn btm-outline btn-primary"
        hx-get="/article/create"
        hx-target="#articles-list"
        hx-swap="afterbegin"
      >
        New article
      </button>
    </header>
    <div 
      id="articles-list"
      class="flex flex-col z-0 gap-5 mx-[5%] lg:mx-[20%] mt-24 mb-4"
    >
      {{range .Articles}}
        {{template "article-card.html" .}}
      {{end}}
    </div>
</body>
</html>
