<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
   
    <!-- adding htmx script from CDN -->
    <script
      src="https://unpkg.com/htmx.org@2.0.0"
      src="/lib/htmx.org@2.0.0"
      integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <div class="grid grid-rows-4 align-center justify-center gap-5 px-64">
      {{range .Articles}}
        {{template "article-card.html" .}}
      {{end}}
    </div>
</body>
</html>
